{{ $author := dict "@type" "Organization" "name" "ChatForest" "url" "https://chatforest.com" }}
{{ $item := dict "@type" "SoftwareApplication" "name" .Title "applicationCategory" "MCP Server" }}
{{ $schema := dict "@context" "https://schema.org" "@type" "Review" "name" .Title "description" .Description "datePublished" (.Date.Format "2006-01-02") "author" $author "publisher" $author "url" .Permalink "itemReviewed" $item }}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
